<body style="background-image: url('/images/cinema.jpg'); background-size: cover; background-repeat: no-repeat">
    <div class="homepage-div">
        <h1>Cinema Ironhack</h1>
        <button><a href="/movies">Check movie times!</a></button>
    </div>
</body>