<h2 style="font-weight: bold;">Iron Cinema</h2>
<h4>Click on the movie to check the screening times!</h4>

<div class="movies-container">

    {{#each movieList}}

    <div class="movie-grid-item">
        <img src="{{this.image}}" alt=" movie image">
        <p>{{title}}</p>
        <a href=/movies/{{this._id}}>See more</a>
    </div>

    {{/each}}

</div>